*{
    padding: 0;
    margin: 0;

}
#principal{
    display: flex;
    border: 1px solid gray;
    align-items: center;
    justify-content: center;
    margin-top: 10em;
    margin-left: 10em;
    width: 50%;
}
#contenido{
    
}
#principal h1{
    color: red;
}
header{
    display: flex;
    background-color: aqua;
    border-bottom: 1px solid black;
    justify-content: center;
}
#centrar{
    margin-top: 1em;
    margin-bottom: 1em;
    
}
